
.parent {
 -fx-background-color: transparent;
}
.pane{
    -fx-background-color: #33698F;
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-image: url("../Img/bck.jpg");
      -fx-background-size: 281 386;
      -fx-background-position: center center;
      -fx-background-color: #FFFFFF;
}
.tf_box TextField{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;
    
}
.pink-btn{
    -fx-background-color: #C5304D;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
    
}

.btn Button:hover{
    -fx-cursor: hand;
}